spring:
  application:
    name: analytics-service
  data:
    mongodb:
      uri: mongodb://root:root@mongo-analytics:27017/analytics-db?authSource=admin
      database: analytics_db
  graphql:
    graphiql:
      enabled: true

server:
  port: 8080
