spring:
  application:
    name: analytics-service
  data:
    mongodb:
      uri: mongodb://admin:admin123@mongodb:27017/analytics_db?authSource=admin
      database: analytics_db
  graphql:
    graphiql:
      enabled: true

server:
  port: 8080
